@font-face {
    font-family: 'army';
    src: url(assets/ARMYRUST.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'army', Helvetica, sans-serif;
    font-weight: lighter;
    text-shadow: 
    -1px -1px 0 black,   
     1px -1px 0 black,  
    -1px  1px 0 black,   
     1px  1px 0 black;  
}


html, body {
    overflow: hidden;
    height: 100%; 
}

canvas {
    display: block;
}

canvas {
    background-image: url(assets/ground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;   
    color: #60A8A5;
    top: 0;
    left: 0;
}

.screen > div > h1 {
    font-size: 3em;
}

.play, .restart {
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    display: block;
    margin: 20px auto 0;
    background-color: rgba(255, 255, 255, 0);
    color: #60A8A5;
    font-size: 2em;
}

.play:hover, .restart:hover {
    color: #305352;
}

.game-over {
    scale: 0;
    animation: zoom 2s ease-in-out forwards;
}

.scoreSect {
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: 1.8em;
    display: none;
}

.scoreSect > div {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
}

@keyframes zoom {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}